*{
    margin: 0;
    padding: 0;
    outline: 0;
}
header{
    background-color: #FCEEF1;
}
.banner{
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    width: 50%;
}
.text > h1{
    font-size: 46px;
    margin-bottom: 10px;
    font-weight: 700;
    padding-bottom: 15px;
}
.text > p{
    font-size: 19px;
    padding-bottom: 15px;
}
.btn{
    margin-top: 5px;
    padding: 10px;
    background-color: #E55473;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 10px 10px 10px 0px #e554738e;
}
.images{
    width: 50%;
    text-align: right;
}
.images > img{
    width: 400px;
    height: 500px;
}